# --- Python/Flask ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.flaskenv

# --- Database ---
# Don't upload your local player data/amounts!
instance/
*.db
*.sqlite

# --- Operating System ---
.DS_Store
Thumbs.db

# --- IDEs ---
.vscode/
.idea/
migrations
app.db
env.py
config.py
